<div class="container">
     <div class="starter-template">

		Hopin is your personal digital locker in the cloud that enables you to buy, sell and access all your class notes in the cloud for less than the price of a sandwich. The paltform caters to colleges and universities around the 
	
	</div>
</div>