<div class="container">
     <div class="starter-template">

		Hopin is your personal digital locker in the cloud that enables you to buy, sell and access all your class notes  for less than the price of a sandwich.
		Hopin you to sell your  
		The platform caters to colleges and universities around the 
		
		Higher grades, heavier wallets and happy you!
	</div>
</div>