<div class="row">

	<div class="col-md-4">
		<b>
			<p>C6-1049</p>
			<p>Opp DLF Summit</p>
			<p>Gurgaon - 122002</p>
			<p>Haryana</p>
		</b>
	</div>
	
	<div class="col-md-4">
		Drop an email at <b>hello@hopin.in</b>
	</div>

	<div class="col-md-4">
		Call us at <b>9646500758</b>
	</div>

</div>

<div class="container">

     <div class="starter-template">
		<h3>and say Hi!</h3>
	</div>

</div>