<h1>TERMS OF USE</h1>

<p>The following policy is designed to help you understand the Terms of Use, Rules

and Conditions that govern your use of the Hopin Mobile application/Website.

You fully agree to use this Mobile application/Website in the manner in which it is

intended for use regardless of whether you are a registered or a non-registered

user. By downloading and using this Mobile application/Website you agree that

you have read, understood and are bound by the Terms, regardless of how you

use it. If you do not agree to this policy, you are not authorized to

download and use this Mobile application/Website.

In these Terms, references to "you", "User" shall mean the end user accessing the

Hopin Mobile application/Website and "we", "us", "our", “Company” shall mean Hopin.</p>

<h1>INTRODUCTION</h1>

<p>Hopin is a Mobile application/Website that enables you to subscribe, sell and access

content via the Website and Mobile App. Use of this Mobile

application/Website is offered to you conditioned on your acceptance without

modification of all the terms, conditions and notices contained in these Terms of

Use, as may be posted on the Mobile application/Website from time to time.

Hopin at its sole discretion reserves the right not to accept a User from accessing

the subscribed content on the Mobile application/Website without assigning any

reason thereof. We would highly recommend you to thoroughly

study these Terms for a peaceful relationship with us.</p>

<h1>ACCOUNT CREATION, MANAGEMENT AND TERMINATION</h1>

<p>The account created on Hopin (www.hopin.in) will be used to login and access the

subscribed content on the Reader Mobile application/Website. You agree to the

terms of use, rules and conditions set forth while creating your account on Hopin

and any violation of the terms of use, rules and conditions will result in blocking or

termination of your account on the website and Mobile application/Website. Any

unauthorized access to Hopin Mobile application/Website should be reported to

us immediately at hello@Hopin.com.<p>

<h1>PRIVACY</h1>

<p>Please read our Privacy Policy to understand our data collection and third party

sharing policies.</p>

<h2>PROPRIETARY RIGHTS</h2>

<p>Hopin is owned and operated by Nangli Internet Private Limited. Read our

Copyright Policies to understand how we protect the website and content

uploaded by you on the website.</p>

<h1>USER CONTENT AND PENALTIES</h1>

<p>You agree to adhere to the Terms of Use, Rules and Regulations regarding the

User Content and Penalties of the Website provided in the Terms of Use. The

following are examples of user content and activities that cannot be performed

on Hopin Mobile application/Website. And any violation of the Terms of Use will

result in Hopin terminating your account, and reporting such activities to law

enforcement agencies, of users involved in performing the below mentioned

activities that:

<ul>
	<li>Constitutes, promotes, or provide instructions on illegal or unauthorized

access or creating a copy of another users’ copyright content.</li>
</ul>
	<li>Shares login credentials with other users in order to allow them use of

Hopin Mobile application/Website and the contents present therein on the

users’ account.</li>
<li></li>
<li></li>
<li></li>
<li></li>

</p>

<h2>REPORTING INFRINGEMENT On Hopin</h2>

<p>Hopin respects the intellectual property rights of everyone and takes extreme

steps in protecting the copyrights and other intellectual property rights.

If your find that your content has been uploaded to our platform by someone

else, please email us the Infringement Notice (notice format given in the

Copyright Policy) to hello@hopin.com. Please note that if you knowingly

misrepresent that the viewed content on Hopin Mobile application/Website is or

is not infringing, then you may be subject to civil penalties like monetary

damages, court costs and attorney fee, incurred by Hopin, by any copyright owner or 

organization, or by copyright owners’ licensee that is affected by the claim you

have made. You agree that we on request may provide details that identify you to the

copyright owner and reserve the right to terminate accounts of users who indulge in

intentionally infringing the intellectual property right of others.</p>

<h2>GOVERNING LAW</h2>

<p>These Terms of Use are customized in a comprehend manner which reign in

accordance with the laws of India. With reference to this aspect all the

disputes/conflict that are related directly or indirectly with the Terms of Use, that

belong to this website are to be submitted only in the adequate courts in Delhi.

The adequate courts are personalized with the related authority of its kind. In

case if your disputes are found Counterfeit then you will be highly responsible to

undergo the penalty of the jurisdiction.</p>

<h1>INDEMNIFICATION</h1>

<p></p>
<h2>MODIFICATION AND TERMINATION OF TERMS OF USE</h2>

<p>The norms under the Terms of Use of Hopin Mobile application/Website will be

modified and updated as per our desired time and decision. These changes will

not be pre-informed to you. If Hopin comes across any member of the Mobile

application/Website who has counterfeited or acted against the Terms of Use,

Hopin will reserve the right to terminate the user account and claim penalty

through the legal proceedings.</p>

<h2>COPYRIGHT POLICY</h2>

<p>Copyrights of this website belongs to Nangli Internet Private Limited (“Hopin”). The

content, materials,online file viewer software, mobile app, and design of the website fall

under the standard copyright protection rules, and any distribution, storing, modification,

or reproduction of such content, materials, or design partially or completely in any form

is strictly prohibited. In order to display, print, or use the contents, materials, or design

from the website for noncommercial and/or personal purpose, you will have to

acknowledge the website as the source of such contents, materials or design of the

website, and take written approval from Hopin in order to distribute or commercially use

the contents, materials, or design of the website. The content uploaded for sale on the

website is done by the uploader, and the Website does not take any responsibility if the

content uploaded by the uploader infringes any copyright or any other similar rights. In the event where

the uploaded/posted content/information is marked infringed and is brought to the notice

of the website, then you agree that all information that identifies you will be forwarded to

the individual or organisation whose content/information is infringed, and any related

legal actions will be subject to you only. Hopin and any associated website(s) will not be

a part of any such litigation and shall bare no liabilities whatsoever. The content

published on Hopin is available for personal use only to the beneficiary, who subscribes

the content on Hopin. You agree not to copy, reproduce, modify, upload, post,

republish, transmit, distribute and misuse any content or information obtained from

Hopin by automated means like scripts, crawlers, bots, spiders, scrapers, etc. If you are

found to be involved in any unauthorised activities relating to Hopin’s material,

information, content, etc. which inturn may violate the copyright, trademark, and other

applicable laws, then you could be liable for criminal or civil penalties which will be dealt

in the jurisdiction of Delhi courts. Please note that if you knowingly misrepresent that the

subscribed content or contents on Hopin is or is not infringing, then you may be subject

to civil penalties like monetary damages, court costs and attorney fee, incurred by

Hopin, or its associated website(s), by any copyright owner or organisation, or by

copyright owners’ licensee that is affected by the claim you have made. We may also

terminate accounts of users who indulge in intentionally infringing the intellectual

property right of others.</p>

