// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.row {
  margin-bottom: 20px;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center  
}
p {
  padding-left: 20px;
  padding-right: 20px;  
}